<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9c5d7e90-2af4-41cd-b318-d985c64a5b51/resourcegroups/ALFalexef0test0nav/providers/Microsoft.Web/sites/ALFnavobjectpermissionsreportNetCoreWebAPI</ResourceId>
    <ResourceGroup>ALFalexef0test0nav</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alfnavobjectpermissionsreportnetcorewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>601f08db-1728-4544-bea0-fd756d24c438</ProjectGuid>
    <MSDeployServiceURL>alfnavobjectpermissionsreportnetcorewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ALFnavobjectpermissionsreportNetCoreWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ALFnavobjectpermissionsreportNetCoreWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>